@import "open-props/style";
@import "open-props/normalize";

table {
  width: 100%;
}

body {
  padding: var(--size-fluid-1);
}

header, main {
  /* gaps between header+main+footer */
  margin-bottom: var(--size-fluid-1);
}

header, footer {
  padding: var(--size-fluid-1);
  /* same radius as table */
  border-radius: var(--radius-3);
  background: var(--yellow-5);
}

header *, footer {
  color: var(--gray-9) !important;
}

header a {
  font-weight: bold;
  text-decoration-color: var(--gray-9);
}

th.total, th.recent {
  width: 9ch;
}

th, td.title {
  text-align: left;
}

button, input {
  height: 2em;
}

button {
  width: 100%;
}

button.asc::after {
  content: ' ▲';
}

button.desc::after {
  content: ' ▼';
}

input {
  width: 100%;
  font-weight: normal;
}

td {
  padding-left: var(--size-fluid-1);
}

td.total, td.recent {
  text-align: right;
}

footer {
  text-align: center;
}
